/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env

#IDE ECLIPSE
.buildpath
.project
.settings 
.metadata
tmp/
# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
